<!DOCTYPE html>
<html>
  <head>
    <title>2018 新华三论剑</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="dashboard <%= controller_name + '_' + action_name %>" >
    <div class='d-header'>
      <a href='/'>
        <img src=<%= image_path('logo.png') %> class='logo-left' />
      </a>
      <img src=<%= image_path('logo_right.png') %> class='logo-right' />
      <p class="nav">
        <a href='/dashboard/gifts'>奖品</a>
        <a href='/dashboard/start'>开始</a> 
      </p>

    </div>
    <%= yield %>
  </body>
</html>
