<!DOCTYPE html>
<html>
  <head>
    <title>Choujiang</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="top"><img src=<%= image_path('mobile.jpg') %> </div>
  	<div class="center">
	  	<h3>参与抽奖信息填写</h3>
	  	<hr>
	    <%= yield %>
	  </div>
  </body>
</html>
